
@{
    ViewData["Title"] = "Список услуг";
}

<div class="text-center text-info">
    <h1>Список услуг</h1>
</div>
<table class="table">
    <tr bgcolor="#0fa3b9">
        <td>Наименование услуги</td>
        <td>Цена</td>
    </tr>
    @foreach (var service in ViewBag.services)
    {
        <tr>
            <td>@service.ServiceName</td>
            <td>@service.Price</td>
        </tr>
    }
</table>